  
:8888 {
        log
        root * /home/galileo
        redir /auth/portal /ui/

        handle_path /* {
                @uiget {
                        method GET
                        path /
                }
                redir @uiget /ui/
        }

        route /auth* {
                authp {
                        # only add this if you want to enforce mfa
                        transform user {
                                match origin local
                                require mfa
                        }
                crypto default token lifetime 3600
                crypto key sign-verify 0e2fdcf8-6868-41a7-884b-7308795fc286
                backends {
                        local_backend {
                                method local
                                path /etc/gatekeeper/users.json
                                realm local
                        }
                }
                ui {
                        theme basic
                        template settings "/etc/gatekeeper/assets/settings.template"
                        template login "/etc/gatekeeper/assets/login.template"
                        logo url "https://storage.googleapis.com/mission_types/h_logo_transparent.svg"
                        custom html header path "/etc/assets/header.html"
                        custom css path "/etc/assets/custom.css"
                }
                cookie insecure on

                }
        }

        route /ui* {
                jwt {
                        primary yes
                        crypto key verify 0e2fdcf8-6868-41a7-884b-7308795fc286
                        set auth url /auth
                        allow roles authp/admin
                        allow roles superadmin
                }
                        uri strip_prefix /ui
                        reverse_proxy http://localhost:3000
        }
		
        handle_path /rclone/* {
                reverse_proxy http://localhost:5572
                import /tmp/hashpass.txt
        }

        handle_path /rpc/* {
                reverse_proxy http://localhost:8080
        }

        route /rclone* {
                reverse_proxy http://localhost:5572
                jwt
        }
}